# ECB Data Academy - Evolve Programme
[Krisolis](http://www.krisolis.ie)



### Descriptive Statistics wirh Titanic Data

To get started we import the **pandas** library (and the **numpy** library as much of pandas is based on this).

In [ ]:
from IPython.display import display, HTML
import pandas as pd
import numpy as np

%matplotlib inline

## Import the Data
Next we will import our data, for this section we will use Titanic Data
### Variable Description Details

- survival:  Survival	0 = No; 1 = Yes
- pclass:	Passenger Class	1 = 1st; 2 = 2nd; 3 = 3rd
- name:	First and Last Name	 
- sex:	Sex	 
- age:	Age	 
- sibsp:	Number of Siblings/Spouses Aboard	 
- parch:	Number of Parents/Children Aboard	 
- ticket:	Ticket Number	 
- fare:	Passenger Fare	 
- cabin:	Cabin	 
- embarked:	Port of Embarkation	C = Cherbourg; Q = Queenstown (Cobh); S = Southampton

In [ ]:
datafile_name="..//Data//Titanic.csv"
dataset = pd.read_csv(datafile_name)
display(dataset.head(10))

In [ ]:
dataset["Survived"].value_counts()

min() method returns minimum value

In [ ]:
dataset['Age'].min()

max() method returns maximum value

In [ ]:
dataset['Age'].max()

mean() returns the average value

In [ ]:
dataset['Age'].mean()

median() returns the middle value of the variable/list of data when arranged in an order

In [ ]:
dataset['Age'].median()

std() returns standard deviation value

In [ ]:
dataset['Age'].std()

quantile returns value at the given quantile which is defined by the argument q

In [ ]:
dataset['Age'].quantile(q=0.05)

mode() returns the most common value/ most frequently occuring value

In [ ]:
dataset['Cabin'].mode()

Now you try...
Calculate minimum, maximum and mean values for Fare varialbe in the dataset

### Pandas Profiling
pandas_profiling library includes a method ProfileReport() which generates a basic report on the input dataframe

The report contains the folllowing:

- DataFrame overview,
- Each attribute on which DataFrame is defined,
- Correlations between attributes
- A sample of DataFrame.

[Data Profiling](https://pandas-profiling.ydata.ai/examples/master/titanic/titanic_report.html)

In [ ]:
#!pip install -U pandas-profiling

In [ ]:
#from pandas_profiling import ProfileReport

In [ ]:
#ProfileReport(dataset,minimal=True)

In [ ]:
#profile = ProfileReport(dataset, minimal=True)
#profile.to_file("output.html")